.hero {
	float: left;
	margin-right: 5px;
}

.hero img {
	width: 40px;
	height: 90px;
	object-fit: cover;
  margin-left: 2px;
}

#logo {
    content: url('~/assets/logo.png');
    margin: 20px;
    width: 100px; 
    height: 100px;    
    -webkit-animation: spin 4s infinite linear;
}

@-webkit-keyframes spin {
	0%  {-webkit-transform: rotate(0deg);}
	100% {-webkit-transform: rotate(360deg);}	
}

.centered {
  position: absolute;
  top: 40%;
  left: 45%;
  transform: translate(-50%, -50%);
}

.attributeContainer {
  margin-top: 2%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: relative;
}

.app {
  margin-left: 10%;
  margin-right: 10%;
}

.verticalText {
  width: 5%;
  white-space: nowrap;
}

.rotate {
  position: absolute;
  -moz-transform: translateX(-50%) translateY(-50%) rotate(-90deg);
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(-90deg);
  transform: translateX(-50%) translateY(-50%) rotate(-90deg);
}

.verticalLine {
  width: 200%;
  position: absolute;
  transform: translateX(-25%) translateY(-50%);
}

.heroContainer {
  width: 90%;
  float: right;
}

.clearFloat {
  clear: both;
}

@font-face { font-family: 'Constantia'; src: url('../assets/Constantia.ttf') format('truetype'); }
@font-face { font-family: 'Constantia'; src: url('../assets/constanb.ttf'); font-weight: bold; }
.text {
  font-family: 'Constantia',
  font-weight: bold;
}

