/*Tags*/
body {
    margin: 0;
    background: url('../images/background.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/*IDs*/
#logo {
    content: url('../images/logo.png');
    margin: 20px;
    width: 100px; 
    height: 100px;    
    -webkit-animation: spin 4s infinite linear;
}

#agility {
    padding-right: 31%;
    padding-left: 30%;
}

#strength {
    padding-left: 22%;
    padding-right: 22%;
}

#intelligence {
    padding-right: 12%;
    padding-left: 12%;
}

/*Classes*/
@-webkit-keyframes spin {
  0%  {-webkit-transform: rotate(0deg);}
  100% {-webkit-transform: rotate(360deg);} 
}

.activeFilter {
    border-bottom: 1px solid rgba(144,144,144,1) !important;
    color: #fff !important;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #5dacff, 0 0 35px #228DFF, 0 0 40px #228DFF, 0 0 50px #fff;
}

.app {
  margin-left: 10%;
  margin-right: 10%;
}

.attributeContainer {
  padding-top: 2%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: relative;
}

.attributeContainer:last-child {
  padding-bottom: 2%;
}

.attributeName {
    border-bottom: 1px solid rgba(144,144,144,1);
    padding-bottom: 7px;
}

.centered {
  position: absolute;
  top: 40%;
  left: 45%;
  transform: translate(-50%, -50%);
}

.disableHero {
    filter: grayscale(100%);
    opacity: 0.3;
}

.hero {
	float: left;
	margin-right: 5px;
}

.hero img {
    width: 40px;
    height: 90px;
    object-fit: cover;
    margin-left: 2px;
}

.heroContainer {
    width: 90%;
    float: right;
}

.filterContainer {
    padding: 3%;
    margin-left: -10%;
    margin-right: -10%;
}

.filters {
    margin-left: 10px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-bottom: 1px solid transparent;
    padding-left: 10px;
    padding-right: 10px;
}

.filters:hover {
    border-bottom: 1px solid rgba(144,144,144,1);
    color: #d0d0d0;
}

.mainRoles:after {
    content: "";
    height: 1px;
    display: block;
    background: linear-gradient(to right,  rgba(0,0,0,0) 0%,rgba(144,144,144,0.5) 50%,rgba(0,0,0,0) 100%);
}

.mainRoles > div {
    padding-left: 20%;
    padding-right: 20%;
}

.rotate {
    position: absolute;
    -moz-transform: translateX(-50%) translateY(-50%) rotate(-90deg);
    -webkit-transform: translateX(-50%) translateY(-50%) rotate(-90deg);
    transform: translateX(-50%) translateY(-50%) rotate(-90deg);
}

.subRoles {
    margin-bottom: 1%;
    -webkit-transition: 2s ease-out;
    -moz-transition: 2s ease-out;
    -o-transition: 2s ease-out;
    transition: 2s ease-out;
}

.subRoles:after {
    content: "";
    height: 1px;
    display: block;
    background: linear-gradient(to right,  rgba(0,0,0,0) 0%,rgba(144,144,144,0.5) 50%,rgba(0,0,0,0) 100%);
}

.subRoles > div {
    padding-left: 17%;
    padding-right: 17%;
}

.subRoles:hover {
    opacity: 1 !important;
    -webkit-transition: 0s;
    -moz-transition: 0s;
    -o-transition: 0s;
    transition: 0s;
}

.subRoleTxt {
    color:  #909090;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: small;
    letter-spacing: 1px;
}

.verticalText {
  width: 10px;
  white-space: nowrap;
}

@font-face { font-family: 'Trajan'; src: url('../fonts/Trajan.ttf') format('truetype'); }
.text {
    font-family: 'Trajan', sans-serif;
    color:  #909090;
    opacity: 1;
}

